<main class="content" role="main">
  <div class="mx-auto p-4">
    <div class="flex items-center justify-between mb-4">
      <h1 class="text-2xl">Task Manager</h1>
      <span>({{store.completedTodos().length}} / {{store.todos().length}})</span>
    </div>
    <br>

    <!-- Task Input -->
    <form (ngSubmit)="submitNewTodo()" class="mb-4">
      <input name="newTodoInput" [(ngModel)]="newTodoTitle" required class="p-2 border rounded mr-2" placeholder="New task..." />
      <button [disabled]="!newTodoTitle()" type="submit">Add</button>
    </form>
    <br>

    <!-- Filters -->
    <div class="mt-4">
      <button (click)="store.changeFilter('all')" class="{{ store.filter() === 'all' ? 'active' : '' }} p-2 rounded mr-2">All</button>
      <button (click)="store.changeFilter('active')" class="{{ store.filter() === 'active' ? 'active' : '' }} p-2 rounded mr-2">Active</button>
      <button (click)="store.changeFilter('completed')" class="{{ store.filter() === 'completed' ? 'active' : '' }} p-2 rounded">Completed</button>
    </div>
    <br>

    <!-- Task List -->
    <ul>
      @for (task of store.filteredTodos(); track $index) {
        <li (click)="store.toggleTodo(task.id)" class="mb-2 flex gap-4 items-center cursor-pointer hover:opacity-70">
          <input type="checkbox" [checked]="task.completed" />
          <span [ngStyle]="{ 'text-decoration': task.completed ? 'line-through' : 'none' }">{{ task.title }}</span>
        </li>
      }
    </ul>

  </div>

</main>
